
<div class="buttons-container">
  <!-- Filter Button 1 -->
  <button class="filter-button">Type</button>
  <select id="filter1" class="filter-dropdown">
    <option value="type1">Blended</option>
    <option value="type2">Online</option>
    <option value="type3">Offline</option>
  </select>

  <!-- Filter Button 2 -->
  <button class="filter-button">Topic</button>
  <select id="filter2" class="filter-dropdown">
    <option value="option1">Computer Science</option>
    <option value="option2">Language</option>
    <option value="option3">Art</option>
    <option value="option4">Cooking</option>
    <option value="option5">Fitness</option>
    <option value="option6">Music</option>
  </select>
</div>
